@define-color color_bg alpha(#2d2d2d, 0.8);
@define-color color_bg_dark alpha(#1c1c1c, 0.8);
@define-color color_border alpha(#424242, 0.8);
@define-color color_border_active alpha(#6699cc, 0.8);
@define-color color_text #ffdbd0;
@define-color color_urgent #8f0a0a;

/* -- base styles -- */

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 16px;
  text-shadow: none;
  border: none;
  border-radius: 0px;
  opacity: 1;
}
.background {
  background-color: rgba(0, 0, 0, 0);
}

button,
label {
  box-shadow: none;
  background: none;
  background-color: rgba(0, 0, 0, 0);
  color: @color_text;
}

button:hover {
  background-color: @color_bg_dark;
}

#bar {
  background-color: @color_bg;
  background-image: none;
  box-shadow: none;
}

.popup {
  border: 1px solid @color_border;
  padding: 1em;
}

/* -- gtkscale -- */
scale trough {
  border-radius: 4px;
  background-color: #535854;
}

scale trough highlight {
  border-radius: 4px;
  background-color: #96b9d0;
}

scale value {
  color: #ffffff;
}

scale trough slider {
  color: purple;
  background-color: purple;

  min-width: 14px;
  min-height: 14px;
  margin: -5px;
}

.popup-volume .slider slider {
  background-color: #c6988e;
  border-radius: 15px;
  border: 2px outset #c6988e;
  background-image: none;

  /*min-width: 14px;
  min-height: 14px;
  margin: -5px;*/
}
.popup-volume .slider highlight {
  background: #5e2e40;
}

.settings .background contents,
.power-menu .background contents,
.music .background contents,
.volume .background contents,
.clock .background contents {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}

/* -- clipboard -- */

.clipboard {
  margin-left: 5px;
  font-size: 1.1em;
}

.popup-clipboard .item {
  padding-bottom: 0.3em;
  border-bottom: 1px solid @color_border;
}

.popup-clipboard {
  background-color: @color_bg;
}

/* -- clock -- */

.clock {
  font-weight: bold;
  margin-left: 5px;
}

.popup-clock .calendar-clock {
  color: @color_text;
  font-size: 2.5em;
  padding-bottom: 0.1em;
}

.popup-clock {
  background-color: @color_bg;
  color: @color_text;
}

.popup-clock .calendar .header {
  padding-top: 1em;
  border-top: 1px solid @color_border;
  font-size: 1.5em;
}

.popup-clock .calendar:selected {
  background-color: @color_border_active;
}

.calendar.view {
  padding: 6px;
  border-radius: 5px;
}

.day-number.today {
  background-color: @color_border;
  font-weight: bold;
  border-radius: 15px;
  font-style: normal;
}

/* notifications */

.notifications .count {
  font-size: 1rem;
  font-weight: bold;
  background-color: #da373c;
  color: white;
  border-radius: 100%;
  margin-right: 3px;
  margin-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  opacity: 1;
}

/* -- script -- */

.script {
  padding-left: 10px;
}

/* -- sys_info -- */

.sysinfo {
  margin-right: 10px;
}

.sysinfo .item {
  margin-left: 0px;
}
.sysinfo .item span {
  font-size: 2em;
}

/* -- tray -- */

.tray {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 10px;
}
.tray button {
  padding: 8px 2px;
}
/* Overrides the label text just for the tray */
.tray label {
  color: black;
}

.tray .item {
  padding-left: 6px;
}

menu menuitem label,
menu menuitem {
  color: #2d2d2d;
}

menu menuitem:hover {
  background-color: @color_text;
}

/* -- volume -- */

.popup-volume .device-box {
  border-right: 1px solid @color_border;
}

.popup-volume {
  background-color: @color_bg;
}

.background contents .view {
  background-color: @color_bg_dark;
}
.background contents .view button,
.background contents .view label {
  color: @color_text;
  font-style: italic;
}

/* -- power -- */

.popup-upower {
  background-color: @color_bg;
}

/* -- workspaces -- */

.workspaces .item.focused {
  box-shadow: inset 0px -3px;
  background-color: @color_bg_dark;
}

.workspaces .item {
  min-width: 16px;
}

.workspaces .item:hover {
  box-shadow: inset 0px -3px;
}

/* -- upower -- */
.upower .icon {
  opacity: 0;
}

.upower .contents {
  color: @color_text;
}

/* -- music -- */
.music {
  padding: 0 16px;
}

.popup-music {
  background-color: @color_bg;
  /*min-width: 25em;*/
  /*max-width: 15px;*/
}

.popup-music .volume {
  margin-left: 4em;
}

.popup-music .progress .slider slider,
.popup-music .volume .slider slider {
  background-color: #c6988e;
  border-radius: 15px;
  border: 2px outset #c6988e;
  background-image: none;
}

.popup-music .progress .slider highlight,
.popup-music .volume .slider highlight {
  background: #5e2e40;
}

/* -- settings (CUSTOM) -- */
.settings {
  padding-right: 15px;
}
.settings button {
  padding-right: 1em;
}

.popup-settings {
  background-color: @color_bg;
}

.settings-title {
  margin-bottom: 0.25em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid @color_text;
  font-size: 1.5em;
}

/* -- power menu (CUSTOM) -- */
.power-menu {
  margin-right: 10px;
}

.power-menu button {
  padding-right: 1em;
}

.popup-power-menu {
  background-color: @color_bg;
}
.popup-power-menu #header {
  font-size: 2em;
  text-decoration: double underline;
  margin-bottom: 0.5em;
}
.power-btn {
  padding: 0 50px;
  /*padding-right: 50px;*/
}
.power-btn label {
  padding-right: 28pt;
  min-width: 40pt;
  font-size: 40pt;
}

#uptime {
  margin-top: 15px;
  font-style: italic;
}
