@define-color bg    #1a1b26;
@define-color fg    #a9b1d6;
@define-color blk   #32344a;
@define-color red   #f7768e;
@define-color grn   #9ece6a;
@define-color ylw   #e0af68;
@define-color blu   #7aa2f7;
@define-color mag   #ad8ee6;
@define-color cyn   #0db9d7;
@define-color brblk #444b6a;
@define-color white #ffffff;

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 16px;
  font-weight: bold;

  /*background-color: @bg;*/
  background: @bg;
  border: none;
  border-top: none;
  box-shadow: none;
  color: @fg;
}

.background {
  background-color: @bg;
  color: @fg;
}
box,
menubar,
.popup,
.widget,
.widget-container {
  background-color: @bg;
  color: @fg;
}

button,
button * {
  transition: none;
}

button:hover,
button:hover * {
  background: @blk;
}
button.focused,
button.focused * {
  background: @blk;
}

/*.popup-volume {
  background: @fg;
}

.popup-volume .apps-box .app-box .slider {
  background: @fg;
}*/
.popup-volume .device-box {
  border-right: 2px solid @blk;
}

highlight {
  background: @cyn;
}
slider {
  background: @white;
}
.popup-volume .device-box .slider,
.popup-volume .apps-box .app-box .slider {
  background: @blk;
}

.popup {
  margin: 0.5em;
  /*border-radius: 10px;22*/
}
